[Unit]
Description=VIHS Linux assurance GitLab runner
After=network-online.target docker.service
Wants=network-online.target docker.service

[Service]
Type=simple
User=sveld
WorkingDirectory=/home/sveld
Environment=HOME=/home/sveld
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/sveld/gitlab-runner/bin/gitlab-runner run --config /home/sveld/.gitlab-runner/config.toml
Restart=always
RestartSec=5
KillSignal=SIGQUIT
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
