[Unit]
# Unit: vihs-vagrant-acceptance-readiness.service
Description=VIHS Vagrant acceptance runner readiness receipt
After=default.target

[Service]
Type=oneshot
WorkingDirectory=/home/sergio/repos/gl/vi-history-suite
Environment=PATH=/home/sergio/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin
Environment=VAGRANT_HOME=/home/sergio/.vagrant.d
Environment=VIHS_VAGRANT_STORAGE_ROOT=/run/media/sergio/Data/vihs-vagrant
Environment=VIHS_VAGRANT_STANDBY_ROOT=/run/media/sergio/Data1/vihs-vagrant
Environment="VIHS_EVIDENCE_ARCHIVE_ROOT=/run/media/sergio/MAJOR GENER/VI History Suite Evidence"
Environment=VIHS_VAGRANT_BOX_CACHE_HOME=/run/media/sergio/Data/vihs-vagrant/vagrant-home
Environment=VIHS_VAGRANT_BOX_FILE=/run/media/sergio/Data/vihs-vagrant/box-cache/windows11.box
Environment=VIHS_VAGRANT_BOX_WORKDIR=/run/media/sergio/Data/vihs-vagrant/box-work
Environment="VIHS_VIRTUALBOX_MACHINE_FOLDER=/run/media/sergio/Data/vihs-vagrant/VirtualBox VMs"
Environment=VAGRANT_DOTFILE_PATH=.vagrant-ci
Environment=VIHS_VAGRANT_READINESS_RECEIPT_ROOT=/home/sergio/.gitlab-runner/receipts/vagrant-acceptance-readiness
ExecStart=/usr/bin/env npm run vagrant:runner:readiness -- --receipt-root /home/sergio/.gitlab-runner/receipts/vagrant-acceptance-readiness
